# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
venv/
.env

# FAISS files
vector.index
chunks.npy

# Streamlit cache
.streamlit/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# FAISS index files
vector.index
chunks.npy

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db
